{% load widget_tweaks %}
<form method="POST">
    {% csrf_token %}
    <div class="mb3">
        {% render_field form.id class="form-control" %}
    </div>
    <div class="mb3">
        <label for="a8" class="il-gray fs-14 fw-500 align-center mb-10">Name of Project</label>
        {% render_field form.project_name class="form-control" %}
    </div>
    <div class="mb3">
        <label for="a8" class="il-gray fs-14 fw-500 align-center mb-10">Status {{ project.status }}</label>
        {% render_field form.status class="form-select" value="{{ project.status }}" %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" hx-post="{% url 'project:projectUpdate' %}" hx-target="#projectList" data-bs-dismiss="modal">Submit</button>
    </div>
</form>